
<div class="hero">
  <div class="hero-bg-color"></div>
  <div class="container text-center py-5 hero-content">
    <h1>Experience tranquil comfort in Bronkhorstspruit</h1>
    <p>Discover a serene sanctuary in the heart of Bronkhorstspruit, where comfort and tranquility meet to rejuvenate your soul.</p>
    <a href="/contact" class="btn btn-primary btn-lg">Contact Us</a>
    <a href="/bookings" class="btn btn-primary btn-lg">Book Now</a>
  </div>
</div>
