<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/_header.ejs") %>
  <meta
  name="description"
  content="Book your stay at Eagles View Kungwini for a peaceful getaway. Enjoy comfortable rooms, an on-site bar, and easy access to the town center."
  />
  <title>
    Eagles View Kungwini | Exclusive Guest Lodge in Kungwini, Bronkhorstspruit
  </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="css/all.min.css" />
   <link rel="stylesheet" href="css/swiper-bundle.min.css" />
   <link rel="stylesheet" href="css/style.css" />
   <style>
    /* Hero section starts here */

.hero {
position: relative;
display: flex;
justify-content: center;
align-items: center;
background-image: url("assets/images/hero-lg-screen.webp");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
min-height: 100dvh;
padding: 100px 20px;
color: #fff;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero-bg-color {
position: absolute;
top: 0;
left: 0;
content: "";
width: 100%;
height: 100%;
background-color: #00000085;
}

.hero-content {
z-index: 1;
}
.hero h1 {
font-size: 2.5rem;
margin-bottom: 20px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
font-family: "DM Serif Display", serif;
font-weight: 400;
font-style: normal;
color: #fff;
text-transform: capitalize;
}

.hero p {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1.5rem;
margin-bottom: 30px;
color: #fff;
}

/* Media query for changing hero background image for 880px screen */
@media (max-width: 880px) {
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/images/hero-sm-screen-1.webp") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100dvh;
}
}

@media (max-width: 768px) {
  .hero h1 {
      font-size: 1.8rem;
      text-align: center;
  }

  .hero p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
      font-size: 1.5rem;
      text-align: center;
  }

  .hero p {
    font-size: 1rem;
  }
}


@media (min-width: 994px) {
.navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
  color: #352d2d !important;
  box-shadow: none !important;
}

.navbar .nav-link {
  color: #fff !important;
}

.navbar.scrolled {
  background-color: #ebe8d8 !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) !important;
}

.navbar-brand {
  color: #fff !important;
}

.navbar.scrolled .navbar-brand {
  color: #000 !important;
}

.navbar.scrolled .nav-link {
  color: #000 !important;
}
}
   </style>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LodgingBusiness",
        "name": "eagles View Kungwini",
        "image": "https://example.com/assets/images/hero-lg-screen.webp",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "21 Witkruis Arend St, Kungwini Country Estate",
          "addressLocality": "Bronkhorstspruit",
          "addressRegion": "Gauteng",
          "postalCode": "1020",
          "addressCountry": "ZA"
        },
        "priceRange": "R1200",
        "telephone": "+27 834113931",
        "email": "info@eaglesviewkungwini.co.za",
        "url": "https://example.com",
        "amenities": [
          "Free Wifi",
          "Free Parking",
          "Outdoor Pool",
          "Child-Friendly",
          "Bar",
          "Restaurant"
        ],
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": -25.8890895,
          "longitude": 28.7017946
        },
        "review": [
          {
            "@type": "Review",
            "author": "Gerrit Malan",
            "datePublished": "2024-12-01",
            "description": "Since our arrival late Friday afternoon until our departure on Sunday morning, we were met with utmost sincerity.",
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "author": "Willie Scholtz",
            "datePublished": "2024-12-01",
            "description": "It was a 40th birthday celebration, and the venue was perfect for the occasion.",
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          }
        ]
      }
    </script>
</head>
<body>
  <header class="header_area">
    <div class="main-menu">
      <%- include("../partials/_navbar.ejs") %>
      <div class="hero">
        <div class="hero-bg-color"></div>
        <div class="text-secondary px-4 py-5 text-center hero-content">
          <div class="py-5">
            <h1 class="display-5">
              Experience tranquil comfort in Bronkhorstspruit
            </h1>
            <div class="col-lg-6 mx-auto">
              <p class="fs-5 mb-4">
                Discover a serene sanctuary in the heart of Bronkhorstspruit,
                where comfort and tranquility meet to rejuvenate your soul.
              </p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/contact" class="btn btn-primary btn-lg">contact us</a>
                <a href="/bookings" class="btn btn-primary btn-lg">Book Now</a>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

    <!-- ================== facility Section start here =============== -->
    <section class="facility-section section">
      <div class="container px-4 py-5">
        <h2 class="pb-2 section-title">Royal Facilities</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-wifi"></i> Free Wifi
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Stay connected with complimentary high-speed internet during
                your stay.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-car"></i> Free Parking
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Secure and convenient parking available at no extra charge.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-swimming-pool"></i> outdoor pool
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Take a refreshing dip in our well-maintained outdoor pool,
                perfect for relaxation and leisure.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-coffee"></i> Tea and Coffee
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Enjoy complimentary tea and coffee throughout your stay,
                available in your room and shared spaces.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-hamburger"></i> Breakfast available
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Enjoy complimentary tea and coffee throughout your stay,
                available in your room and shared spaces.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="facility-box">
              <div class="facility-header" onclick="toggleDescription(this)">
                <i class="fa fa-biking"></i> Activities
                <span class="arrow">&#x25BC;</span>
              </div>
              <div class="facility-description">
                Enjoy cycling, mountain biking, and horseback riding nearby, or
                relax with fishing and swimming on-site. Perfect for both
                adventure and leisure.
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg
        preserveAspectRatio="xMidYMax slice"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2000 68"
      >
        <g>
          <path
            d="M0 24V0h2000v20h-31l-22 38-22-38h-58l-22 38-22-38h-57l-22 38-22-38h-58l-22 38-22-38h-57l-22 38-22-38h-57l-22 38-22-38h-58l-22 38-22-38h-57l-22 38-22-38h-58l-22 38-22-38h-57l-22 38-22-38h-58l-22 38-22-38h-57l-22 38-22-38h-57l-22 38-22-38h-58l-22 38-22-38h-57l-22 38-22-38h-58l-22 38-22-38h-57l-22 38-22-38h-58l-22 38-22-38h-57l-22 38-22-38H42L20 58l-4-6L0 24z"
          ></path>
          <path
            d="M1974 48h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l3-6-3-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zm-69-20h12l6-11-6-11h-12l-7 11 7 11zm-13 13h6l4-6-4-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zm-109-20h12l7-11-7-11h-12l-6 11 6 11zm-13 13h7l3-6-3-5h-7l-3 5 3 6zm18 7h8l5-7-5-7h-8l-4 7 4 7zm-107-20h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l4-6-4-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zm-105-20h12l6-11-6-11h-12l-6 11 6 11zm-13 13h7l3-6-3-5h-7l-3 5 3 6zm18 7h8l5-7-5-7h-8l-5 7 5 7zm-105-20h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l3-6-3-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zm-106-20h12l6-11-6-11h-12l-7 11 7 11zm-13 13h7l3-6-3-5h-7l-3 5 3 6zm18 7h8l4-7-4-7h-8l-5 7 5 7zm-110-20h12l7-11-7-11h-12l-6 11 6 11zm-12 13h6l3-6-3-5h-6l-4 5 4 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zm-106-20h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l4-6-4-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zm-140-20h12l6-11-6-11h-12l-7 11 7 11zm-13 13h7l3-6-3-5h-7l-3 5 3 6zm18 7h8l4-7-4-7h-8l-5 7 5 7zm-72-20h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l4-6-4-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zM858 48h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l3-6-3-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zM758 48h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l3-6-3-5h-6l-4 5 4 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zM657 48h12l6-11-6-11h-12l-7 11 7 11zm-13 13h7l3-6-3-5h-7l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zM560 48h12l7-11-7-11h-12l-6 11 6 11zm-12 13h6l3-6-3-5h-6l-4 5 4 6zm17 7h8l5-7-5-7h-8l-4 7 4 7zM456 48h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l4-6-4-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zM353 48h12l6-11-6-11h-12l-6 11 6 11zm-13 13h7l3-6-3-5h-7l-3 5 3 6zm18 7h8l5-7-5-7h-8l-5 7 5 7zM249 48h13l6-11-6-11h-13l-6 11 6 11zm-12 13h6l3-6-3-5h-6l-3 5 3 6zm17 7h9l4-7-4-7h-9l-4 7 4 7zM150 48h12l6-11-6-11h-12l-7 11 7 11zm-13 13h7l3-6-3-5h-7l-3 5 3 6zm18 7h8l4-7-4-7h-8l-5 7 5 7zM48 48h12l6-11-6-11H48l-6 11 6 11zM35 61h7l3-6-3-5h-7l-3 5 3 6zm18 7h8l5-7-5-7h-8l-5 7 5 7zm35-21H75l-6 11 6 10h13l6-10-6-11zm12-13h-6l-4 5 4 6h6l3-6-3-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm107 21h-12l-7 11 7 10h12l6-10-6-11zm12-13h-6l-3 5 3 6h6l4-6-4-5zm-17-8h-8l-5 8 5 7h8l4-7-4-8zm107 21h-12l-6 11 6 10h12l7-10-7-11zm13-13h-7l-3 5 3 6h7l3-6-3-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm107 21h-13l-6 11 6 10h13l6-10-6-11zm12-13h-6l-3 5 3 6h6l4-6-4-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm107 21h-12l-6 11 6 10h12l6-10-6-11zm13-13h-7l-3 5 3 6h7l3-6-3-5zm-18-8h-8l-4 8 4 7h8l5-7-5-8zm108 21h-13l-6 11 6 10h13l6-10-6-11zm12-13h-6l-4 5 4 6h6l3-6-3-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm102 21h-12l-6 11 6 10h12l6-10-6-11zm13-13h-7l-3 5 3 6h7l3-6-3-5zm-18-8h-8l-5 8 5 7h8l5-7-5-8zm109 21h-13l-6 11 6 10h13l6-10-6-11zm12-13h-6l-4 5 4 6h6l3-6-3-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm103 21h-12l-7 11 7 10h12l6-10-6-11zm12-13h-6l-3 5 3 6h6l4-6-4-5zm-17-8h-8l-5 8 5 7h8l4-7-4-8zm75 21h-12l-6 11 6 10h12l6-10-6-11zm13-13h-7l-3 5 3 6h7l3-6-3-5zm-18-8h-8l-5 8 5 7h8l5-7-5-8zm139 21h-13l-6 11 6 10h13l6-10-6-11zm12-13h-6l-4 5 4 6h6l3-6-3-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm74 21h-13l-6 11 6 10h13l6-10-6-11zm12-13h-6l-3 5 3 6h6l3-6-3-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm107 21h-13l-6 11 6 10h13l6-10-6-11zm12-13h-6l-4 5 4 6h6l3-6-3-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm105 21h-13l-6 11 6 10h13l6-10-6-11zm12-13h-6l-3 5 3 6h6l3-6-3-5zm-17-8h-9l-4 8 4 7h9l4-7-4-8zm107 21h-13l-6 11 6 10h13l6-10-6-11zm13-13h-6l-3 5 3 6h6l3-6-3-5zm-18-8h-9l-4 8 4 7h9l4-7-4-8zm106 21h-12l-7 11 7 10h12l6-10-6-11zm13-13h-6l-3 5 3 6h6l4-6-4-5zm-18-8h-8l-5 8 5 7h8l4-7-4-8zm105 21h-12l-6 11 6 10h12l6-10-6-11zm14-13h-7l-3 5 3 6h7l3-6-3-5zm-19-8h-8l-5 8 5 7h8l5-7-5-8zm107 21h-12l-7 11 7 10h12l6-10-6-11zm13-13h-6l-3 5 3 6h6l4-6-4-5zm-18-8h-8l-5 8 5 7h8l4-7-4-8zm108 21h-13l-6 11 6 10h13l6-10-6-11zm13-13h-6l-4 5 4 6h6l3-6-3-5zm-18-8h-9l-4 8 4 7h9l4-7-4-8z"
          ></path>
        </g>
      </svg>
    </section>
    <!-- ============= Facility Section ends here ======= -->
    <!-- ============= Gallery Section starts here ======= -->
    <section class="gallery-section section" id="gallery-section">
      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 section-title">Gallery</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('assets/images/outdoor-view.webp')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  Outdoor View
                </h2>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('assets/images/bedroom-1.webp')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Bedroom</h2>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('assets/images/bathroom-1.webp')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Bathroom</h2>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('assets/images/setting-room.webp')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">lounge</h2>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('assets/images/kitchen.webp')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Kitchen</h2>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('assets/images/braai-area.webp')"
            >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  Braai Area
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg
        preserveAspectRatio="xMidYMax slice"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2000 76"
      >
        <g fill="%23000000">
          <path
            d="M1944 36l5-15 7-21h38l6 20v20l-25 19-31-23zm-61 23l31-23-11-36h-39l-11 36 30 23z"
          ></path>
          <path d="M0 0h2000v21H0z"></path>
          <path
            opacity=".5"
            d="M1916 55l10 11 15-4 4-15-11-10-14 4-4 14z"
          ></path>
          <path opacity=".75" d="M1987 70l7-4-1-8-7-3-6 4v8l7 3z"></path>
          <path d="M1952 69l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path opacity=".75" d="M1897 71l7-4-1-8-7-3-7 4 1 8 7 3z"></path>
          <path
            d="M1861 70l8 6 9-4 2-10-8-6-10 4-1 10zm53-50l11 11 14-4 4-14-10-11-15 4-4 14zm-112 39l30-23-11-36h-38l-12 36 31 23zm-92 0l31-23-12-36h-38l-11 36 30 23zm32-4l11 11 15-4 4-15-11-10-15 4-4 14z"
          ></path>
          <path opacity=".75" d="M1328 53l7 7 8-3 2-8-6-6-8 2-3 8z"></path>
          <path opacity=".5" d="M1664 55l7 7 9-3 3-9-7-7-10 2-2 10z"></path>
          <path opacity=".75" d="M1814 70l7-4-1-8-7-3-7 4 1 8 7 3z"></path>
          <path
            d="M1843 38l7-4-1-8-7-3-7 5 1 7 7 3zm-64 31l8 6 9-4 1-10-8-6-9 4-1 10z"
          ></path>
          <path opacity=".5" d="M1834 59l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path
            d="M1724 71l6-4v-8l-8-3-6 4 1 8 7 3zm-36-1l8 6 9-4 1-10-8-6-9 4-1 10zm53-50l11 11 14-4 4-14-11-11-14 4-4 14zm-104 39l31-23-12-36h-38l-12 36 31 23zm-91 0l31-23-12-36h-38l-12 36 31 23z"
          ></path>
          <path
            opacity=".75"
            d="M1578 55l11 11 14-4 4-15-10-10-15 4-4 14z"
          ></path>
          <path
            d="M1650 70l6-4-1-8-7-3-6 4 1 8 7 3zm-36-1l8 6 9-4 1-10-8-6-9 4-1 10zm-54 2l6-4-1-8-7-3-6 4 1 8 7 3zm-36-1l8 6 9-4 1-10-8-6-9 4-1 10zm53-50l10 11 15-4 4-14-11-11-14 4-4 14zm-113 39l31-23-12-36h-38l-12 36 31 23zm-91 0l31-23-12-36h-38l-12 36 31 23zm32-4l11 11 14-4 4-15-11-10-14 4-4 14zm72 15l6-4-1-8-7-3-6 4 1 8 7 3z"
          ></path>
          <path opacity=".75" d="M1506 38l6-4-1-8-7-3-6 5 1 7 7 3z"></path>
          <path opacity=".5" d="M1441 69l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path
            d="M1496 59l8 6 9-4 1-10-8-6-9 4-1 10zm-109 12l6-4-1-8-7-3-6 4v8l8 3zm-36-1l8 6 9-4 1-10-8-6-9 4-1 10zm52-50l11 11 15-4 4-14-11-11-15 4-4 14zm-103 39l31-23-12-36h-38l-12 36 31 23zm-92 0l31-23-11-36h-39l-11 36 30 23zm33-4l10 11 15-4 4-15-11-10-14 4-4 14zm71 15l7-4-1-8-7-3-6 4v8l7 3z"
          ></path>
          <path opacity=".75" d="M1277 69l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path
            d="M1222 71l7-4-1-8-7-3-7 4 1 8 7 3zm-36-1l8 6 9-4 2-10-8-6-10 4-1 10zm53-50l11 11 14-4 4-14-10-11-15 4-4 14zm-112 39l30-23-11-36h-38l-12 36 31 23zm-92 0l31-23-12-36h-38l-11 36 30 23z"
          ></path>
          <path
            opacity=".75"
            d="M1067 55l11 11 15-4 4-15-11-10-15 4-4 14z"
          ></path>
          <path
            d="M1139 70l7-4-1-8-7-3-7 4 1 8 7 3zm29-32l7-4-1-8-7-3-7 5 1 7 7 3zm-64 31l8 6 9-4 1-10-8-6-9 4-1 10z"
          ></path>
          <path opacity=".75" d="M1159 59l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path d="M988 59l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path opacity=".75" d="M651 59l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path
            d="M315 59l8 6 9-4 1-10-8-6-9 4-1 10zm734 12l6-4v-8l-8-3-6 4 1 8 7 3zm-36-1l8 6 9-4 1-10-8-6-9 4-1 10zm53-50l11 11 14-4 4-14-11-11-14 4-4 14zM962 59l31-23-12-36h-38l-12 36 31 23zm-91 0l31-23-12-36h-38l-12 36 31 23z"
          ></path>
          <path
            opacity=".75"
            d="M903 55l11 11 14-4 4-15-10-10-15 4-4 14z"
          ></path>
          <path
            d="M975 70l6-4-1-8-7-3-6 4 1 8 7 3zm-36-1l8 6 9-4 1-10-8-6-9 4-1 10z"
          ></path>
          <path opacity=".5" d="M885 71l6-4-1-8-7-3-6 4 1 8 7 3z"></path>
          <path
            d="M849 70l8 6 9-4 1-10-8-6-9 4-1 10zm53-50l10 11 15-4 4-14-11-11-14 4-4 14zM789 59l31-23-12-36h-38l-12 36 31 23zm-91 0l31-23-12-36h-38l-12 36 31 23zm32-4l11 11 14-4 4-15-11-10-14 4-4 14zm72 15l6-4-1-8-7-3-6 4 1 8 7 3zm29-32l6-4-1-8-7-3-6 5 1 7 7 3z"
          ></path>
          <path
            opacity=".75"
            d="M766 69l8 6 9-4 1-10-8-6-9 4-1 10zm55-10l8 6 9-4 1-10-8-6-9 4-1 10z"
          ></path>
          <path
            d="M712 71l6-4-1-8-7-3-6 4v8l8 3zm-36-1l8 6 9-4 1-10-8-6-9 4-1 10zm52-50l11 11 15-4 4-14-11-11-15 4-4 14zM625 59l31-23-12-36h-38l-12 36 31 23zm-92 0l31-23-11-36h-39l-11 36 30 23zm33-4l10 11 15-4 4-15-11-10-14 4-4 14zm71 15l7-4-1-8-7-3-6 4v8l7 3zm-35-1l8 6 9-4 1-10-8-6-9 4-1 10zm-55 2l7-4-1-8-7-3-7 4 1 8 7 3z"
          ></path>
          <path opacity=".75" d="M511 70l8 6 9-4 2-10-8-6-10 4-1 10z"></path>
          <path
            d="M564 20l11 11 14-4 4-14-10-11-15 4-4 14zM452 59l30-23-11-36h-38l-12 36 31 23zm-92 0l31-23-12-36h-38l-11 36 30 23z"
          ></path>
          <path
            opacity=".75"
            d="M392 55l11 11 15-4 4-15-11-10-15 4-4 14z"
          ></path>
          <path d="M464 70l7-4-1-8-7-3-7 4 1 8 7 3z"></path>
          <path opacity=".5" d="M493 38l7-4-1-8-7-3-7 5 1 7 7 3z"></path>
          <path
            d="M429 69l8 6 9-4 1-10-8-6-9 4-1 10zm55-10l8 6 9-4 1-10-8-6-9 4-1 10z"
          ></path>
          <path opacity=".75" d="M374 71l6-4v-8l-8-3-6 4 1 8 7 3z"></path>
          <path
            d="M338 70l8 6 9-4 1-10-8-6-9 4-1 10zm53-50l11 11 14-4 4-14-11-11-14 4-4 14zM287 59l31-23-12-36h-38l-12 36 31 23zm-91 0l31-23-12-36h-38l-12 36 31 23z"
          ></path>
          <path
            opacity=".5"
            d="M228 55l11 11 14-4 4-15-10-10-15 4-4 14z"
          ></path>
          <path
            d="M300 70l6-4-1-8-7-3-6 4 1 8 7 3zm-36-1l8 6 9-4 1-10-8-6-9 4-1 10zm-54 2l6-4-1-8-7-3-6 4 1 8 7 3z"
          ></path>
          <path opacity=".75" d="M174 70l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path
            d="M227 20l10 11 15-4 4-14-11-11-14 4-4 14zM114 59l31-23-12-36H95L83 36l31 23zM0 42V12L4 0h38l7 21 5 15-31 23L0 42z"
          ></path>
          <path
            opacity=".75"
            d="M55 55l11 11 14-4 4-15-11-10-14 4-4 14z"
          ></path>
          <path opacity=".5" d="M127 70l6-4-1-8-7-3-6 4 1 8 7 3z"></path>
          <path opacity=".75" d="M156 38l6-4-1-8-7-3-6 5 1 7 7 3z"></path>
          <path
            d="M91 69l8 6 9-4 1-10-8-6-9 4-1 10zm55-10l8 6 9-4 1-10-8-6-9 4-1 10zM37 71l6-4-1-8-7-3-6 4v8l8 3z"
          ></path>
          <path opacity=".5" d="M1 70l8 6 9-4 1-10-8-6-9 4-1 10z"></path>
          <path d="M53 20l11 11 15-4 4-14L72 2 57 6l-4 14z"></path>
        </g>
      </svg>
    </section>
    <!-- ============= Gallery Section ends here ======= -->
      <!-- ============= About Section starts here ======= -->
    <section class="about-section section">
      <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 section-title">About Us</h2>
        <div class="about-inner-container">
          <div class="about-content-section">
            <h3>Welcome to eagless View Kungwini</h3>
            <p>
              Located in Bronkhorstspruit, Gauteng, and just a short walk from
              Bronkhorstspruit Dam, eagless View Kungwini offers a tranquil
              escape for families and couples.
            </p>
            <p>
              Our 7 comfortable units feature en-suite bathrooms, a shared
              kitchen, lounge, patio, and access to amenities like a pool, braai
              facilities, Wi-Fi, and secure parking.
            </p>
            <div class="large-screen-content">
              <p>
                Enjoy nearby activities such as bird watching, fishing, cycling,
                and horseback riding. Whether you’re seeking relaxation or
                adventure, eagless View Kungwini is your perfect getaway.
              </p>
              <p>
                Let us take care of your every need and make your stay truly
                unforgettable.
              </p>
            </div>
          </div>
          <div class="about-image-section">
            <img
              src="assets/images/about-img.webp"
              alt="Outdoor Buffalo Park Lodge image"
              height="225"
              width="300"
            />
          </div>
        </div>
      </div>
      <svg
        class="bottom-about-svg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 200"
      >
        <path fill-opacity="1" d="M0,288L1440,32L1440,320L0,320Z"></path>
      </svg>
    </section>
    <!-- ============= About Section ends here ======= -->
       <!-- ============= Testimonial Section start here ======= -->
    <div class="testimonial-section section">
      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 section-title">Testimonial</h2>
        <div class="container">
          <div class="swiper testimonial-carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide testimonial-item">
                <p>
                  " Since Our arrival late Friday afternoon until our Departure
                  on Sunday Morning We have been met with the utmost sincerety
                  and the service we Receive from all staff"
                </p>
                <h4>— Gerrit Malan</h4>
              </div>
              <div class="swiper-slide testimonial-item">
                <p>
                  "It was a 40th birthday celebration and the venue was perfect
                  for the occasion. Highly recomendable."
                </p>
                <h4>— Willie Scholtz</h4>
              </div>
              <div class="swiper-slide testimonial-item">
                <p>
                  "We enjoyed our stay at eagless View. Jared and Precious were
                  very helpful and accommodating! We felt very welcome and taken
                  care of."
                </p>
                <h4>— Taren Govender</h4>
              </div>
              <div class="swiper-slide testimonial-item">
                <p>"Newly remodeled book in advanced"</p>
                <h4>— Fraser Vermaak</h4>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
      <svg
        class="bottom-testimonial-svg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 200"
      >
        <path fill-opacity="1" d="M0,288L1440,32L1440,320L0,320Z"></path>
      </svg>
    </div>
    <!-- ============= TestimonialSection ends here ======= -->
     <%- include("../partials/_footer.ejs") %>
</body>
</html>