<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(../partials/_header.ejs) %>
  <meta
  name="description"
  content="Book your stay at eagles View Kungwini for a peaceful getaway. Enjoy comfortable rooms, an on-site bar, and easy access to the town center."
  />
  <title>
    eagles View Kungwini | Exclusive Guest Lodge in Kungwini, Bronkhorstspruit
  </title>
</head>
<body>
  
</body>
</html>